@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Alata", sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #111111;
  overflow-x: hidden;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 97%;
  max-width: 1000px;
  padding: 21px;
  color: #111111;
}

nav a {
  font-size: 24px;
  color: #111111;
}

nav a:hover {
  color: #ff8ebd;
}

.nav-items a {
  margin-left: 16px;
  margin-right: 16px;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
  transition: 0.2s;
}

.landing-container {
  padding: 21px;
  height: 80vh;
  width: 100%;
  display: flex;

  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main .half {
  width: 50%;
}

.main img {
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 42px;
}

p {
  font-size: 18px;
  line-height: 180%;
}

.landing-container p {
  font-size: 1.6em;
  margin-bottom: 0.1em;
}

#flower {
  animation: flower-animation 2.5s;
  animation-duration: 2.5s;
  animation-iteration-count: 2;
  transform-origin: 70% 70%;
  display: inline-block;
  text-indent: 0 !important;
}

@keyframes flower-animation {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.socials {
  margin-top: 1em;
  font-size: 2.5em;
}

.socials a {
  color: #aaaaaa;
  padding-right: 1em;
}

.socials a:hover {
  color: #ff8ebd;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.arrow a {
  color: #aaaaaa;
}

.arrow a:visited {
  color: #aaaaaa;
}

.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.experience-container {
  padding: 21px;
}

.experience-container h2 {
  color: #aaaaaa;
  margin-bottom: 36px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 48%;
  margin-bottom: 48px;
}

.card img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.card a {
  color: #111111;
}

.card img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border: #aaaaaa solid;
  transition: 0.2s;
}

.card h4 {
  color: #6d6d6d;
  margin-bottom: 0;
}

.card h2 {
  margin-top: 0;
  color: #111111;
  margin-bottom: 0;
  transition: 0.2s;
  font-size: 32px;
}

.card h2:hover {
  color: #ff8ebd;
  transition: 0.2s;
}

.card p {
  margin-top: 0;
  margin-bottom: 0;
}

.project {
  padding: 21px;
  margin-top: 80px;
}

.description p {
  margin-bottom: 28px;
}

.process {
  margin-top: 48px;
  margin-bottom: 48px;
}

.process h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
}

.project-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.project-row-even {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.project-row-odd {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.project-column {
  width: 50%;
}

.dent {
  margin-top: 64px;
}

.process img {
  width: 100%;
  margin-bottom: 24px;
}

.project-text {
  max-width: 90%;
}

.project-row-odd .project-text {
  float: right;
}

.project-row-even .project-text {
  float: left;
}

.project-row img {
  width: 95%;
}

footer {
  padding: 21px;
  color: #aaaaaa;
  margin-bottom: 24px;
}

footer h3 {
  margin-bottom: 8px;
}

footer .socials {
  margin-top: 0;
  font-size: 1.75em;
}

.blockquote {
  border-left: 4px solid #ff8ebd;
  padding-left: 16px;
  width: 80%;
}

.blockquote h3 {
  font-size: 21px;
  line-height: 180%;
}

@media screen and (max-width: 480px) {
  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  nav {
    padding: 14px;
    width: 95%;
  }

  nav a {
    font-size: 16px;
  }

  .nav-items a {
    margin-left: 8px;
    margin-right: 8px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .landing-container p {
    font-size: 21px;
  }

  .socials {
    font-size: 1.75em;
  }

  .project {
    padding: 16px;
  }

  .process h3 {
    font-size: 24px;
  }

  .project-row-odd {
    flex-wrap: wrap-reverse;
  }
  .project-row-even {
    flex-wrap: wrap;
  }

  .project-row {
    flex-wrap: wrap;
  }

  .project-column {
    width: 100%;
  }

  .dent {
    padding-top: 0;
  }

  .project-text {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .project-row-odd .project-text {
    float: left;
  }

  .main {
    flex-wrap: wrap;
  }

  .main img {
    display: none;
  }

  .main .half {
    width: 100%;
  }
}
